@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;600;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

 *{
    font-family: 'Montserrat';
<<<<<<< HEAD
    margin:0;
=======
    margin:0%;
>>>>>>> a33c2d1848eb7c43847a61b1b5aff8629f526cd7
    font-size: 1.1em;
    
 }
 body{
<<<<<<< HEAD
  margin: 0;
   background-color: #2e2d2d;
 }
 /* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black; 
  border-radius: 10px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1c1c1c; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #323232; 
}
=======
   background-color: #515151;
 }
 
>>>>>>> a33c2d1848eb7c43847a61b1b5aff8629f526cd7
 .color{
   background-color:#000000
#6C4AB6
#8D72E1
#B9E0FF
#52057B
#892CDC
#BC6FF1;
 }