section{
    padding: 90px;
}
section p{
    font-size:20px;
}
.heading{
    position: relative;
    width: max-content;
}
.heading::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 3px;
    width: 100%;
    border-radius: 5px;
    background: linear-gradient(270deg, rgb(108, 74, 182) 50%, rgba(74,182,78,1) 50%);
}
.hobbies .heading{
    font-size: 25px;
}
.hobbies a{
    all:unset;
    text-decoration: underline;
    cursor: pointer;
    transition: all 200ms;
    color: #fff;
}
.hobbies a:hover{
    color:#757ed3;
}
.hobbies a:active{
    color:#757ed3;
}

@media only screen and (max-width:600px){
    section{
        padding: 0;
        padding-top: 100px;
    }
    section p{
        font-size: 20px;
    }
        .heading{
            font-size: 25px;
    }
}