.about, .hobbies{
    padding: 80px;
    width: 100%;
}
.about, .hobbies p{
    font-size:20px;
}
.heading{
    position: relative;
    width: max-content;
}
.heading::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 3px;
    width: 100%;
    border-radius: 5px;
    background: linear-gradient(270deg, rgb(108, 74, 182) 50%, rgba(74,182,78,1) 50%);
    
}
.heading{
    font-size: 20px;
}
.hobbies a{
    all:unset;
    text-decoration: underline;
    cursor: pointer;
    transition: all 200ms;
    color: #fff;
}
.hobbies a:hover{
    color:#757ed3;
}
.hobbies a:active{
    color:#757ed3;
}
.hidden{
    opacity: 0;
    transition: all 2s;
    filter: blur(5px);
    transform: translateX(-100%);
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
@media only screen and (max-width:600px){
    .about, .hobbies{
        padding: 0;
        margin-top: 100px;
    }
    .about, .hobbies p{
        font-size: 20px;
        text-align: center;
        float: right;
    }
    .heading{
        text-align: center;
        font-size: 25px;
        width: auto;
        z-index: -1;
    }
    .hobbies {
        margin-bottom: 90px;
    }
}