@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Montserrat:wght@100;300;500&display=swap');
.about{
    font-family:'Monserrat';
    z-index: -1;
    color:white;
    background-color: #6C4AB6;
    width: 100%;
    height:300px;
    display: flex;
    align-items: center;
    
}
.intro-container{
    padding-top:200px;
    position: relative;
}
.intro{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 200;
    background-color: #BC6FF1;
    border-radius: 30px;
    width: 750px;
    padding: 30px;

    -webkit-box-shadow: inset 2px 4px 13px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 2px 4px 13px 4px rgba(0,0,0,0.75);
    box-shadow: inset 2px 4px 13px 4px rgba(0,0,0,0.75);

}

.intro h1{
    font-size: 50;
    font-family: 'Cabin Sketch';
}


/* @keyframes nameShow{
    from{
        transition: opacity;
    }

} */

@media screen and (max-width:600px) {
    .about{
        width:100%;
        height: 300px;
    }
    .intro{
        left: 20;
        top:200;
        width:250;
    }

    .intro h1{
        font-size:30;
    }
    
    .intro span{
        font-size: 20; 
        padding-top: 20;
    }
}

