nav{
    position:fixed;
    right: 0px;
    top:20px;
    display: flex;
    height: 18%;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 25px;
}
nav a{
color: #c6c4c4;
transition: color 500ms;
}
nav a:hover{
    color: #ffffff;
}