.navbar {
    position: fixed;
    display: flex;
    min-height: 7vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #c6c4c4;
    /* border-bottom: solid 3px grey; */
    background-color: #1e1a2b;
    font-size: 15px;
    font-weight: 300px;
    z-index: 1;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.58);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.58);
    /* padding: 5px 30px; */
  }
  .navbar .logo {
    border-radius: 30px;
    height: 35px;
    width: 35px;
    margin-left: 20px;
  }
  .navbar .menu {
    display: flex;
    width: 35vw;
    align-items: center;
    justify-content: space-between;
  }
  .navbar ul {
    all: unset;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .navbar a {
    all: unset;
    color: #c6c4c4;
    /* padding-left: 20px; */
    transition: color 500ms;
  }
  .navbar a:hover {
    color: #ffffff;
  }
  .navbar .menu a {
    transition: all 500ms;
  }
  .navbar .menu a:hover {
    text-decoration: underline;
  }
  .navbar .connect {
    display: flex;
    width: 10vw;
    margin-right: 20px;
    align-items: center;
    justify-content: space-between;
  }