.projects{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    color:white;
    background: rgb(108,74,182);
    background: linear-gradient(180deg, rgba(108,74,182,1) 0%, rgba(172,138,250,1) 35%, rgba(188,111,241,1) 100%);
    margin-top: 213px;
    padding-top:100px;

}


/* .projects hr{
    position: absolute;
    top:-20vh;
    width: 86vw;
    margin: 0;
    left: 2vw;
} */

.card-list{
    display: flex;
    padding:3rem;
}

.project-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width:250px;
    min-width:200px;
    padding: 2rem;
    transition: 0.4s;

    color:#282727;
    background-color: #B9E0FF;
    
    border-radius: 16px;
    box-shadow: -1rem 0 3rem rgb(35, 34, 34);
}
.project-card:hover{
    background-color: #68bbfe;
    
    color:white;
    transform: translateY(-2rem);
    cursor: pointer;
}

.project-card:hover~.project-card{
    transform: translateX(150px);
}
.project-card p{
    padding-bottom: 10px; 
}

.project-card img{
    width:300px;
    height:170px;
    margin-top:10px;
}


.pr-link{
    all:unset;  
}

.project-card:not(:first-child) {
    margin-left: -130px;
}
@media screen and (max-width:400px){
    .project-card p{
        font-size: 0.1em;
    }
}
@media screen and (max-width:600px) {
    .projects p{
        font-size: 1em;
    }
    .project-card{
        height: 250px;
        width: 40px;
    }
    .card-list{
        margin: 20px;
        flex-direction: column;
    }
    .project-card p{
        font-size: 0.6em;
        font-weight: 600;
    }
    .project-card img{
        height: 150px;
        width: 200px;
    }
    .project-card:not(:first-child) {
        margin-top:100px;
        margin-left:0px;
    }
    .project-card:hover~.project-card{
        transform: translateX(0);
    }
}
